# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Maven
/target/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# OS Files
.DS_Store
Thumbs.db

# Git
.gitignore
